<h2>Olá, <strong>{{name}}</strong></h2>
<p>Bem vindo ao
  <a href='https://meular.com' title='MeuLar.com'>MeuLar.com</a>,</p>
<p>Por favor utilize o botão abaixo para validar o seu cadastro:</p>
<h2>
  <a href='#{{token}}' title='Validação de cadastro - MeuLar.com'>Acessar</a>
</h2>
<p>Caso não tenha requisitado este e-mail, você pode ignorá-lo com segurança.</p>