<h2>Olá, <strong>{{name}}</strong></h2>
<p>Você requisitou recentemente a troca de senha da sua conta
  <a href='https://meular.com' title='MeuLar.com'>MeuLar.com</a>,</p>
<p>Por favor utilize o botão abaixo para acessar a nossa página de recuperação
  de senha:</p>
<h2>
  <a href='#{{token}}' title='Recuperação de Senha - MeuLar.com'>Recuperar
    acesso</a>
</h2>
<p>Caso não tenha requisitado este e-mail, você pode ignorá-lo com segurança.</p>